{% extends "../template/base.html" %}

{% block content %}
<div class="kit-login">
  <div class="kit-login-bg"></div>
  <div class="kit-login-wapper">
    <h2 class="kit-login-slogan">欢迎使用 <br> 在线教育管理后台</h2>
    <div class="kit-login-form">
      <h4 class="kit-login-title">登录</h4>
      <form class="layui-form" action="{{ctx.url}}" method="post">
        <div class="kit-login-row">
          <div class="kit-login-col">
            <i class="layui-icon">&#xe612;</i>
            <span class="kit-login-input">
                <input type="text" name="username" lay-verify="required" placeholder="请输入用户名" />
              </span>
          </div>
          <div class="kit-login-col"></div>
        </div>
        <div class="kit-login-row">
          <div class="kit-login-col">
            <i class="layui-icon">&#xe64c;</i>
            <span class="kit-login-input">
                <input type="password" name="password" lay-verify="required" placeholder="请输入密码" />
              </span>
          </div>
          <div class="kit-login-col"></div>
        </div>
        <!--<div class="kit-login-row">-->
          <!--<div class="kit-login-col">-->
            <!--<input type="checkbox" name="rememberMe" title="记住帐号" lay-skin="primary">-->
          <!--</div>-->
        <!--</div>-->
        <div class="kit-login-row">
          <button class="layui-btn kit-login-btn" lay-submit="submit" lay-filter="login_hash">登录</button>
        </div>
        <div class="kit-login-row" style="margin-bottom:0;">
          <a href="javascript:;" style="color: rgb(153, 153, 153); text-decoration: none; font-size: 13px;" id="forgot">忘记密码</a>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block script %}

<script>
    layui.use(['layer', 'form'], function() {
        var form = layui.form,
            $ = layui.jquery;

        $('#forgot').on('click', function() {
            layer.msg('请联系管理员.');
        });
        //监听提交
        // form.on('submit(login_hash)', function(data) {
        //     layer.msg(JSON.stringify(data.field));
        //     setTimeout(function(){
        //         location.href='/';
        //     },1000);
        //
        //     return false;
        // });
    });
</script>
{% endblock %}