{% extends "../template/base.html" %}

{% block content %}
  <div  >
    <div class="layui-card" style="margin: 10px">
      <div class="layui-card-header">
        学生管理
      </div>
      <div class="layui-card-body">
        <div class="y-bar">
          <a href="/admin/student/add" class="layui-btn layui-btn-normal">新增</a>
        </div>
        <table id="student-table" lay-filter="student-table">
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
<script type="text/html" id="toolbar">
  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
  layui.use(['table','jquery'], function () {
      var table = layui.table;
      var $ = layui.jquery;
      table.render({
          elem:"#student-table",
          method: 'post',
          url: ACTION,
          page:true,
          cols: [[
              {field:'name',title:'姓名'},
              {field:'username',title:'用户名'},
              {field:'sex',title:'性别'},
              {field:'age',title:'年龄',},
              {field:'school_name',title:'学校'},
              {title:'操作',toolbar: '#toolbar'}

          ]],
          response: {
              statusName: 'errno' //数据状态的字段名称，默认：code
              ,statusCode: 0 //成功的状态码，默认：0
              ,msgName: 'errmsg' //状态信息的字段名称，默认：msg
              ,countName: 'count' //数据总数的字段名称，默认：count
              ,dataName: 'data' //数据列表的字段名称，默认：data
          }
      })
      table.on('tool(student-table)',function (obj) {
          if(obj.event == 'del') {
              var index = layer.confirm('确定删除该数据?', {icon: 3, title:'提示'}, function(index){
                  $.ajax({
                      url:CONTROLLER + '/delete/' + obj.data.id,
                      type:'post',
                      success: function (rep) {
                          layer.close(index);
                          if(rep.errno == 0) {
                              window.location.reload();
                          }else{
                              layer.alert(rep.errmsg);
                          }
                      }
                  })
                  layer.close(index);
              });
          }else if(obj.event == 'edit') {
              window.location.href = CONTROLLER + '/edit/' + obj.data.id;
          }
      })
  })

</script>
{% endblock %}
