<!DOCTYPE html>
<html lang="ZH-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/plugins/layui/css/layui.css">
    <link rel="stylesheet" href="/static/src/css/login.css">
    <link rel="stylesheet" href="/static/plugins/font-awesome/css/font-awesome.min.css" media="all" />
    <link rel="stylesheet" href="/static/src/css/app.css" media="all" />
    <link rel="stylesheet" href="/static/src/css/themes/default.css" media="all" id="skin" kit-skin />
    {% block header %} {% endblock %}

    <script>
        var CONTROLLER ="/{{ctx.module}}/{{ctx.controller}}";
        var ACTION = "/{{ctx.module}}/{{ctx.controller}}/{{ctx.action}}";
    </script>
</head>

<body class="kit-theme">

{% block content%} {% endblock %}

<script src="/static/plugins/polyfill.min.js"></script>
<script src="/static/plugins/layui/layui.js"></script>
<script src="/static/js/main.js"></script>

{% block script %} {% endblock %}

</body>

</html>